@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
	margin: 0;
	padding: 0;
}

.login{
	height: 500px;
	width: 33%;
	background-color: #405263;
	margin: 4% auto;
	color: #FFF;
}

.login h1{
	text-align: center;
	padding: 40px;
}

.form_entrar .container, .form_reg .container{
	display: grid;
	padding: 20px;
}

.form_entrar label, .form_entrar button, .link_en{
	margin-top: 30px;
}

.link_en2{
	margin-top: 10px;
}

.form_entrar p, .form_reg p{
	text-align: center;

}

.link_en, .link_en2{
	color: #FFF;
}

.link_en:hover, .link_en2:hover{
	color: #313542;
}

.form_entrar button, .form_reg button{
	opacity: 0.5;
	color: #FFF;
	background-color: #313542;
}

.form_entrar button:hover, .form_reg button:hover{
	opacity: 1;
}

.register{
	height: 515px;
	width: 33%;
	background-color: #405263;
	margin: 4% auto;
	color: #FFF;
}

.register h1{
	text-align: center;
	padding: 20px;
}

.form_reg label, .form_reg button, .form_reg p{
	margin-top: 30px;
}

.bar{
	background-color: #405263;
	height: 60px;
	display: flex;
}

.bar h1{
	font-family: 'Poiret One', cursive;
	color: #FFF;
	border: 1.5px solid white;
	margin: 5px;
}

.fixed{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.fixed button, .fixed input{
	opacity: 0.5;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 10px;
}

.fixed button:hover, .mas:hover{
	opacity: 1;
}
.mas{
	color: #FFF;
	background-color: transparent;
	border: 1px solid white;
}

.mas:hover{
	background-color: #405263;
}

#hide{
	visibility: hidden;
}

.botones{
	display: grid;
}

.bot_logout{
	color: red;
	background-color: transparent;
	border: 1px solid red;
}

.bot_logout svg{
	color: #FFF;
}

.bot_logout:hover{
	color: #FFF;
	background-color: red;
}

.bot_up{
	background-color: transparent;
	border: 1px solid;
}

.tabla{
	color: #FFF;
	display: grid;
/*	height: var(--tabla_h);*/
	margin: auto;
	background-color: #405263;
}

#tabla_wrapper label, #tabla_info {
	color: #FFF;
	margin: 10px;
}

.empresa_name{
	color: #FFF;
	text-align: center;
	font-family: 'Poiret One', cursive;
}

.table{
	border-bottom: 1px solid #FFF;
	color: #FFF;
	height: 10%;
	width: 50%;
	display: table;
	margin-bottom: 0px;
}

thead, tbody{
	text-align: center;
	background-color: #405263;
}

thead{
	color: #FFF;
}

tbody{
	color: #000;
}

.table th, .table td{
	border-bottom: 1px solid #FFF;
	margin: auto;
}

.container_nuevo{
	height: 450px;
	width: 100%;
	display: block;
	background-color: #405263;
	margin: auto;
	margin-top: 60px;
}

.container_head{
	width: 100%;
	border-bottom: 1px solid #FFF;
}

.container_nuevo h2{
	padding: 10px;
	color: #FFF;
	font-family: 'Poiret One', cursive;
}

.form_div{
	display: grid;
	padding: 30px;
	margin: 20px;
}

.container_body form label{
	color: #FFF;
}

.container_body form input{
	margin-bottom: 20px;
}

.form_btn, .form_btn_act{
	border-top: 1px solid #FFF;
	bottom: 1px;
}

.form_btn_act{
	margin-top: 92px;
}

.form_btn button, .form_btn_act button{
	border: 1px solid #FFF;
	background-color: #313542;
	float: right;
	margin: 10px;
	height: 45px;
	color: #FFF;
	opacity: 0.5;
	width: .btn;
}

.form_btn button:hover, .form_btn_act button:hover{
	color: #FFF;
	opacity: 1;
}

.btn_edit{
	text-decoration: none;
	color: #FFF;
	background-color: #1DB213;
	border: 1px solid #0DB00A;
	padding: 5px;
	border-radius: 5%;
	opacity: 0.5;
}

.btn_elim{
	text-decoration: none;
	color: #FFF;
	background-color: #BB1313;
	border: 1px solid #B21313;
	padding: 5px;
	border-radius: 5%;
	opacity: 0.5;
}

.btn_edit:hover, .btn_elim:hover{
	color: #FFF;
	opacity: 1;
}

.dataTables_paginate{
	color: #FFF;
}